body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-image: url('images/flower.jpg'); /* 背景画像を設定 */
    background-size: auto; /* 画像のサイズを自動調整 */
    background-position: top left; /* 画像を左上に配置 */
    background-repeat: repeat; /* 画像を繰り返す */
}

.container {
    font-family: 'Noto Sans JP', sans-serif;
    max-width: 800px; /* 最大幅を800pxに設定 */
    width: 90%; /* 画面幅が狭い時も対応 */
    background-color: #f8f8f8;
    color: #333333; /* 落ち着いた文字色を設定 */
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    font-size: 1.8em; /* 少し大きめのフォントサイズ */
    color: #2c3e50; /* 落ち着いた濃い青色 */
    padding: 10px; /* 内側の余白を調整 */
    margin-bottom: 15px; /* 見出し下の余白を調整 */
    background-color: #3498db; /* 背景色を青に設定 */
    color: #ffffff; /* 文字色を白に設定 */
    border-radius: 4px; /* 角を少し丸める */
}

h3 {
    font-size: 1.5em; /* h2より少し小さめのフォントサイズ */
    color: #34495e; /* 落ち着いた濃い灰色 */
    padding: 8px; /* 内側の余白を調整 */
    margin-bottom: 10px; /* 見出し下の余白を調整 */
    border-left: 5px solid #3498db; /* 左端に青い線を追加 */
    background-color: #ecf0f1; /* 背景色を薄い灰色に設定 */
}

hr {
    border: none;
    border-top: 2px solid #3498db; /* h2の下線と同じ色と太さ */
    margin: 20px 0; /* 上下の余白を調整 */
}