body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-image: url('images/flower.jpg'); /* 背景画像を設定 */
    background-size: auto; /* 画像のサイズを自動調整 */
    background-position: top left; /* 画像を左上に配置 */
    background-repeat: repeat; /* 画像を繰り返す */
}

.container {
    font-family: 'Noto Sans JP', sans-serif;
    max-width: 800px; /* 最大幅を800pxに設定 */
    width: 90%; /* 画面幅が狭い時も対応 */
    background-color: #f8f8f8;
    color: #333333; /* 落ち着いた文字色を設定 */
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    font-size: 2.5em; /* h2より大きめのフォントサイズ */
    color: #1a5276; /* 落ち着いた濃い青色 */
    margin-bottom: 16px; /* 見出し下の余白を調整 */
    font-weight: bold; /* 太字で強調 */
    font-family: 'Merriweather', serif; /* 高級感のあるフォントを使用 */
}

h2 {
    font-size: 1.6em; /* 少し控えめなフォントサイズ */
    color: #2c3e50; /* 落ち着いた濃い青色 */
    padding: 8px; /* 内側の余白を調整 */
    margin-bottom: 12px; /* 見出し下の余白を調整 */
    background-color: #5dade2; /* 少し柔らかい青色に変更 */
    color: #ffffff; /* 文字色を白に設定 */
    border-radius: 4px; /* 角を少し丸める */
}

h3 {
    font-size: 1.3em; /* h2よりさらに控えめなフォントサイズ */
    color: #34495e; /* 落ち着いた濃い灰色 */
    padding: 6px; /* 内側の余白を調整 */
    margin-bottom: 8px; /* 見出し下の余白を調整 */
    border-left: 4px solid #5dade2; /* 左端の線を少し細くして柔らかい青色に変更 */
    background-color: #f4f6f7; /* 背景色をさらに薄い灰色に設定 */
}

hr {
    border: none;
    border-top: 2px solid #3498db; /* h2の下線と同じ色と太さ */
    margin: 20px 0; /* 上下の余白を調整 */
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #3498db; /* ナビゲーションの背景色 */
    color: #ffffff; /* ナビゲーションの文字色 */
    padding: 10px 20px;
    border-radius: 8px; /* 角を丸める */
    text-align: center; /* 中央寄せにする */
    position: sticky; /* スクロールしても上部に固定 */
    top: 0; /* 上部に固定する位置 */
    margin-top: 20px; /* 上部に余白を追加 */
    width: 100%; /* containerに合わせる */
    max-width: 800px; /* containerの最大幅に合わせる */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* 少し影を追加 */
    z-index: 1000; /* 他の要素の上に表示 */
}